/* * Обнуляющий стиль */
* {
	margin: 0;
	padding: 0;
	border: 0;
}

*,*::before,*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/* *--------------------------------------------------------------------------------------------------------- */

/* ! 
	? solid - сплашная граница,
	? dashed - пунктирная граница,
	? dotted - точечная граница
! */ 


/* * box-shadow: */
/* !
	? none - Отменяет добавление тени.

	? inset - Тень выводится внутри элемента. Необязательный параметр.

	? сдвиг по x - Смещение тени по горизонтали относительно элемента. Положительное значение этого параметра задает сдвиг тени вправо, отрицательное — влево. Обязательный параметр.

	? сдвиг по y - Смещение тени по вертикали относительно элемента. Положительное значение задает сдвиг тени вниз, отрицательное — вверх. Обязательный параметр.

	? размытие - Задает радиус размытия тени. Чем больше это значение, тем сильнее тень сглаживается, становится шире и светлее. Если этот параметр не задан, по умолчанию устанавливается равным 0, тень при этом будет четкой, а не размытой.

	? растяжение - Положительное значение растягивает тень, отрицательное, наоборот, ее сжимает. Если этот параметр не задан, по умолчанию устанавливается 0, при этом тень будет того же размера, что и элемент.

	? цвет - Цвет тени в любом доступном CSS формате, по умолчанию тень черная. Необязательный параметр.
! */

.example-block {

	visibility: hidden;

	font-size: 50px;

}



.example-string {
	font-size: 50px;

	
}

.example-image {
	border: 1px dotted #000;
	border-radius: 50px;
	overflow: hidden;
}


