// ? Файл обнуляющих стилей
@import "_reset";

// ? Миксины
@mixin flexbox {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;font-size: 0;}
@mixin flexboxinline{display: -webkit-inline-box;display: -moz-inline-box;display: -ms-inline-flexbox;display: -webkit-inline-flex;display: inline-flex;font-size: 0;}

// ? Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// ? Подключение файлов стилей страниц и элеменетов
@import "_baguetteBox";

// ? Переменные
$mw:1110;
// * Маленькие ноутбуки
$md1 : $mw+12;
// * Планшеты
$md2 : 991.98;
// * Телефоны
$md3 : 767.98;
// * Маленькие телефоны
$md4 : 479.98;

// ? Оболочка
.wrapper {width: 100%;min-height: 100%;overflow: hidden;
	@include flexbox();
	flex-direction: column;
}

// ? Контейнер
.container {max-width: $mw+px;margin: 0 auto;width: 100%;
	@media screen {
		@media (max-width: $md1+px){max-width: 970px;}
		@media (max-width: $md2+px){max-width: 750px;}
		@media (max-width: $md3+px){max-width: none;padding: 0 10px;}
	}
}



// ! Основные стили

// Headerblock
.header-block {
	text-align: center;
	// .header-block__title
	&__title {
		font-size: 34px;
		font-weight: 700;
		letter-spacing: 8.95px;
		text-transform: uppercase;
		position: relative;
		padding: 0 0 30px 0;
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			margin: 0 0 0 -40.5px;
			bottom: 0;
			width: 81px;
			height: 1px;
			background: #000;
		}
	}
	// .header-block__subtitle
	&__subtitle {
		padding: 30px 0 0 0;
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 25.89px;
		max-width: 700px;
		margin: 0 auto;
	}
}

// Mainblock
.mainblock {
	background: url('../../img/mainblock/bg.jpg') center fixed no-repeat;
	min-height: 100vh;
	@include flexbox();
	flex: 1 1 auto;
	justify-content: center;
	// align-items: center;
	text-align: center;
	padding: 50px 0;
	@media  screen and (max-width: $md3 + px), screen and (max-height: 600px) { 
		padding: 20px 0;
	}
	&__content {
		flex: 1 1 auto;
		.container {
			height: 100%;
			@include flexbox();
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}
	// .mainblock__logo
	&__logo {}
	// .mainblock__text
	&__text {
		color: #fff;
		position: relative;
		padding: 0 0 45px 0;
		margin: 30px 0;
		&::after {
			content: '';
			width: 105px;
			height: 2px;
			background: #fff;
			position: absolute;
			left: 50%;
			margin: 0 0 0 -52.5px;
			bottom: 0;
		}
	}
	// .mainblock__title
	&__title {
		font-size: 34px;
		line-height: 40px;
		text-transform: uppercase;
		font-weight: 900;
		letter-spacing: 5.43px;
		margin: 0 0 10px 0;
		@media  screen and (max-width: $md3+px), screen and (max-height: 600px) {
			font-size: 25px;
			line-height: 30px;
		}
	}
	// .mainblock__subtitle
	&__subtitle {
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 4.15px;
	}
	// .mainblock__footer
	&__footer {
		@include flexboxinline();
		flex-direction: column;
	}
	// .mainblock__btn
	&__btn {
		@media  screen and (max-width: $md3+px), screen and (max-height: 600px) { 
			margin: 0 0 30px 0;
		}
		margin: 0 0 60px 0;
	}
	// .mainblock__arrow
	&__arrow {
		position: relative;
		animation: arrow 2s infinite ease;
	}
	// .mainblock__image
	&.image {
		background: url('../../img/mainblock/bg.jpg') center/cover no-repeat;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@keyframes arrow{
  0% {
	 top: 0;
  }
  50% {
	 top: 10px;
  }
  100% {
	 top: 0;
  }
}

.btn {
	display: inline-block;
	padding: 0 42px;
	height: 47px;
	line-height: 44px;
	text-transform: uppercase;
	font-size: 15px;
	letter-spacing: 0.67px;
	position: relative;
	transition: all .3s ease;
	transform: scale(1);
	&:hover {
		transform: scale(1.2);
	}

	// .btn_w
	&_w {
		color: #fff;
		border: 1px solid #fff;
		transition: all .3s ease;
		&:hover {
			background-color: #fff;
			color: #000;
		}
	}

	&_b {
		color: #000;
		border: 1px solid #000;
		transition: all .3s ease;
		&:hover {
			background-color: #000;
			color: #fff;
		}
	}
}

// ====================================================================================
.content {
	background-color: #fff;
	position: relative;
	z-index: 50;
}

.menu {
	padding: 22px 0;
	border-bottom: 1px solid #f2f2f2;

	&_mb {
		margin: 0 0 130px 0;
		@media (max-width: $md2 + px){
			margin: 0 0 50px 0;
		}
		@media (max-width: $md3 + px){
			margin: 0 0 30px 0;
		}
	}

	@media (max-width: $md4+px) {
		padding: 22px 0 12px 0;
	}
		// .menu__items
		&__items {}
		// .menu__list
		&__list {
			@include flexbox();
			justify-content: center;
			align-items: center;
			li{margin: 0 25px;
				@media (max-width: $md3+px) {
					margin: 0 15px 10px 15px;
				}
				@media (max-width: $md4+px) {
					flex: 0 1 25%;
				}
			}
			@media (max-width: $md4+px) {
				flex-wrap: wrap;
			}
		}
		// .menu__link
		&__link {
			color: #3c3c3c;
			font-size: 15px;
			text-transform: uppercase;
			font-weight: 700;
			transition: all .2s linear;
			// .menu__link_act
			&:hover {
				color: #ada074;
			}
			&_act {
				color: #ada074;
			}
		}
}

// ============================================================================================
.about {
	@media (max-width: $md3 + px){
		padding: 0 0 10px 0;
	}
	padding: 0 0 60px 0;
	// .about__header-block
	&__header-block {
		margin: 0 0 65px 0;
		@media (max-width: $md3 + px){
			margin: 0 0 30px 0;
		}
	}
	// .about__body
	&__body {
		text-align: center;
		max-width: 900px;
		margin: 0 auto;
	}
	// .about__row
	&__row {
		@include flexbox();
		margin: 0 -15px;
		@media (max-width: $md3 + px){
			display: block;
		}
	}
	// .about__column
	&__column {
		margin: 0 0 30px 0;
		flex: 0 1 33.333%;
		padding: 0 15px;
	}
	// .about__item
	&__item {
		text-align: center;
		max-width: 260px;
		@media (max-width: $md3 + px){
			max-width: none;
		}
	}
	// .about__icon
	&__icon {
		border-radius: 50%;
		border: 1px solid #f2f2f2;
		width: 92px;
		height: 92px;
		@include flexboxinline();
		align-items: center;
		justify-content: center;
		margin: 0 0 40px 0;
		&_l {
			img {
				position: relative;
				left: 5px;
			}
		}
		@media (max-width: $md3 + px){
			margin: 0 0 15px 0;
		}
	}
	// .about__title
	&__title {
		margin: 0 0 33px 0;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3.52px;
		@media (max-width: $md2 + px){
			font-size: 18px;
			margin: 0 0 25px 0;
		}
		@media (max-width: $md3 + px){
			margin: 0 0 15px 0;
		}
	}
	// .about__text
	&__text {
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
	}
}

























